/** SITE COLOR THEME **/

$primary: #c6dc81;
$secondary: #f39d9d;
$button: #8cbb3f;
$dark-accent: #5f823e;
$quotation: #5a7720;
$headline-text: #202819;
$testimonials-text: #606261;
$light-accent: #e8e8e8;
$main-text: #231f20;

/** MIXINS **/

$breakpoints: (
  'small': '(max-width: 40em)',
  'gt-small': '(min-width: 40em)',
);

@mixin break-point($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{map-get($breakpoints, $name)} {
      @content;
    }
  } @else {
    @warn "The breakpoint you provided does not exist.";
  }
}

// BOX SIZING: BORDER-BOX
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// GLOBAL STYLES
body {
  font-family: p22-mackinac-pro, serif;
  margin: 0;
}

p {
  color: #231f20;
  font-size: 1.125em;

  @include break-point('small') {
    position: relative;
    z-index: 1;
    font-size: 1em;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.afc-animate--in {
  @keyframes animateIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }

  p, h1, h2, h3, h4, h5, a, button, blockquote, dt {
    animation: animateIn 1000ms ease-in;
  }
}

.afc-hide-block-text {
  p, h1, h2, h3, h4, h5, blockquote {
    opacity: 0;
  }
}

/******** COMPONENTS ********/

.afc-button {
  font-size: 1em;
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: $button;
  border: 1px solid $button;
  padding: 0.75em;
  color: #fff;
  transition: 150ms ease-in-out;

  @include break-point('small') {
    margin: 0 auto;
  }

  &:hover {
    background: $dark-accent;
    border-color: $dark-accent;
  }
}

a.afc-button {
  text-decoration: none;
}

// .afc-divider {
//   width: 20em;
//   border: none;
//   height: 3px;
//   background: grey;
//   margin-bottom: 2.5em;
// }

.afc-image {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.afc-icon {
  height: 6.5em;
}

.afc-text-content {
  padding: 0 2em;
}

.afc-container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 0.75em;
}

// GLOBAL CLASSES & MODIFIERS
.page-wrapper {
  // padding: 0 1em;
}

.page-container {
  overflow-x: hidden;
}

.afc-section {
  padding: 2em 0;

  @include break-point('small') {
    margin-bottom: 1.5em;
  }

  &--dark {
    background: #e5e5e5;

    @include break-point('small') {
      margin-bottom: 0;
      padding-bottom: 3.5em;
    }
  }
}

.afc-lime {
  position: relative;

  &--left:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('images/icons/lime.png') no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    top: -120px;
    left: -80px;
  }
  &--right:after {
    content: '';
    display: inline-block;
    position: absolute;
    transform: rotateY(180deg);
    background: url('images/icons/lime.png') no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    bottom: -80px;
    right: -80px;
  }
}

.afc-squiggle {
  position: relative;

  &--left:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('images/icons/light_triple_squiggle.png') no-repeat;
    background-size: contain;
    height: 60px;
    width: 200px;
    left: -36px;
    top: 16px;
    transform: rotate(180deg);
  }

  &--right:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url('images/icons/light_triple_squiggle.png') no-repeat;
    background-size: contain;
    height: 60px;
    width: 200px;
    bottom: 24px;
    right: -36px;
    transform: rotate(180deg);
  }
}

/** UTILITY CLASSES */

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-bold {
  font-weight: 700 !important;
}

.mb-S {
  margin-bottom: 1rem !important;
}

.mb-M {
  margin-bottom: 2.5rem !important;
}

.mb-L {
  margin-bottom: 4rem !important;
}

.afc-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important; 
}

.flex-reverse-wrap {
  flex-wrap: wrap-reverse !important;
}

.flex-align-center  {
  align-items: center !important;
}

.fifty-fifty {
  > :nth-child(1), > :nth-child(2) {
    width: 50% !important;

    @include break-point('small') {
      text-align: center;
      width: 100% !important;
    }
  }
}

.center-block {
  margin-left: auto !important;
  margin-right: auto !important;
}

.paragraph {
  &-18 {
    font-size: 1.125em !important;
  }
  &-20 {
    font-size: 1.25em !important;
  }
  &-22 {
    font-size: 1.375em !important;

    @include break-point('small') {
      font-size: 1em !important;
    }
  }
  &-24 {
    font-size: 1.5em !important;

    @include break-point('small') {
      font-size: 1.25em !important;
    }
  }
  &-28 {
    font-size: 1.75em !important;

    @include break-point('small') {
      font-size: 1.375em !important;
    }
  }
  &-32 {
    font-size: 2em !important;
  }
}

/********* MOBILE-NAV *********/

.afc-mobile-nav {
  display: none;
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 3px 1px #ccc;
  padding-bottom: 3em;
  z-index: 2;

  &--open {
    height: auto;
    display: block;
  }

  &__close-btn {
    float: right;
    background: $light-accent;
    border: none;
    background: none;
    position: absolute;
    transform: scale(1.25);
    top: 1.125em;
    right: 2.333em;
  }

  &__menu-item {
    text-transform: uppercase;
    padding: 0.75em 0;
    text-align: center;
    border-top: 1px solid #ccc;
    font-weight: bold;
    transition: 150ms ease-in-out;
    cursor: pointer;

    a {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      background: $light-accent;
      border-top: 1px solid $light-accent;

      & + .afc-mobile-nav__menu-item {
        border-top: 1px solid $light-accent;
      }
    }

    &--cta {
      background: $button;
      border: 1px solid $button;
      color: #fff;

      &:hover {
        background: $dark-accent;
        border: 1px solid $dark-accent;
      }
    }
  }

  &__logo {
    height: 48px;
    display: block;
    width: auto;
    margin: 1em auto 1.5em auto;
  }
}

/********* PAGE STYLES *********/

.afc-section-heading {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  &--accent {
    &:after {
      content: '';
      margin-top: 0.25em;
      margin-bottom: 1em;
      display: block;
      background: url('images/icons/long_squiggle.png') no-repeat;
      background-size: contain;
      background-position-x: center;
      height: 20px;
    }
  }
}

.afc-heading-L {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.afc-heading-M {
  font-size: 2em;
  font-weight: 700;
}

.afc-heading-S {
  font-size: 1.25em;
  text-transform: uppercase;
}

.afc-accent-block {
  background: $dark-accent;
  padding: 2.5em 0;

  p {
    color: #fff;
  }

  .afc-section-heading {
    color: #fff;
    margin-top: 1rem;
  }
}

.afc-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  align-items: center;

  &__logo {
    height: 6.5em;
  }
}

.afc-nav {
  ul {

    @include break-point('small') {
      display: none;
    }
  }

  &__mobilenav-trigger {
    background: none;
    border: none;
    display: none;
    transform: scale(1.25);
    color: gray;

    svg {
      pointer-events: none;
    }

    @include break-point('small') {
      display: inline-block;
    }
  }

  &__menu-item {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 0.75em;
    padding: 0.5em;
    font-size: 1.125em;
    font-weight: 700;
    cursor: pointer;

    a {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      border-bottom: 2px solid $button;
    }
  }
  &__cta-btn {
    display: inline-block;
  }
}

.afc-hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;

  @include break-point('small') {
    // height: 600px;
  }

  > div {
    width: 85%;
    max-width: 640px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.675);
    border-radius: 4.5em;
    padding: 2.5em 1.5em;
    text-align: center;
  }

  &__tagline {
    font-size: 3.75em;
    margin: 0 0 1rem 0;

    @include break-point('small') {
      font-size: 2.5em;
    }
  }

  & + section {
    display: flex;
    align-items: center;

    .afc-container {
      min-height: 10em;
    }
  }

  &--how-it-works {
    background-image: url('images/photos/HIW_BANNER.jpg');
  }

  &--home {
    background-image: url('images/photos/HOMEBANNER.jpg');
  }

  &--cyp {
    background-image: url('images/photos/BEETS.jpg');
  }

  &--about {
    background-image: url('images/photos/HIGHRES_ABOUT_BANNER.jpg');

    > div {
      margin-left: 1.5em;

      @include break-point('small') {
        align-self: flex-end;
        margin-bottom: 2.5em;
      }
    }
  }
}

.afc-highlights {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 0 0.5em 0;

    > li {
      padding: 1.5em;
      width: 33%;

      @include break-point('small') {
        width: 100%;
      }
    }
  }
}

.afc-content-block {
  padding: 1.5em 0;
}

.afc-image-container {
  
  &__full {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;

    &--home-banana {
      background-image: url('images/photos/bananapink.jpg');
    }

    &--hiw-ned {
      background-image: url('images/photos/NEW_HOWITWORKS_NEDTEST2.jpg');
    }

    &--hiw-berries {
      background-image: url('images/photos/berrycherry.jpg');
    }

    &--hiw-veggies {
      background-image: url('images/photos/NEW_CILANTROAVOCADO.jpg');
    }

    &--about-corn {
      background-image: url('images/photos/CORNPINK.jpg');
    }
  }

  &__family {
    width: 300px;
  }

  &__bio {
    width: 300px;
  }

  &__package {
    height: 300px;
  }
}

.afc-testimonials {
  padding: 2em 0;
  @include break-point('small') {
    padding-bottom: 1.5em;
  }

  blockquote {
    text-align: center;
    padding-top: 48px;
    color: $testimonials-text;
    font-size: 1.25em;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 72px;
      display: inline-block;
      background: url('images/icons/quotation_mark.png') no-repeat;
      background-size: contain;
      height: 40px;
      width: 40px;
    }
  }
}

.afc-packages__grid {
  display: flex;
  flex-wrap: wrap;
}

.afc-package {
  width: 50%;
  margin-top: 2em;
  padding: 0 1.5em;
  margin-bottom: 4.5em;
  display: flex;
  flex-direction: column;

  @include break-point('small') {
    width: 100%;
    margin-bottom: 5.5em;
  }

  p, li {
      color: $testimonials-text;
  }

  &__desc {
    margin-top: 0em;
    margin-bottom: 1.5em;
  }

  &__img {
    position: relative;
    height: 250px;
    width: 250px;
    margin: 0 auto;

    > img {
      height: 100%;
      width: 100%;
    }

    // &:before {
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   background: url('images/icons/medium_triple_squiggle.png') no-repeat;
    //   background-size: contain;
    //   height: 45px;
    //   width: 140px;
    //   left: -100px;
    //   bottom: 40px;
    //   transform: rotate(180deg);
    // }
  }

  &__price {
    background: $button;
    position: absolute;
    top: -24px;
    right: -24px;
    min-width: 3em;
    min-height: 3em;
    line-height: 3em;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }

  &__example-list {
    column-count: 2;
  }

  .afc-button {
    margin: 0 auto;
    margin-top: auto;
  }
}

.afc-faq {
  dt {
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  dd {
    margin-left: 2.125em;
    padding-bottom: 1em;
  }
}

.afc-ned-test {
  position: relative;

  // &:before {
  //     content: '';
  //     display: inline-block;
  //     position: absolute;
  //     background: url('images/icons/light_triple_squiggle.png') no-repeat;
  //     background-size: contain;
  //     height: 50px;
  //     width: 180px;
  //     right: 0;
  //     top: -100px;
  //     transform: rotate(-90deg);
  // }
}

.afc-accordion {

  &__header {
    cursor: pointer;
    margin: 0;

    &--close:before {
      content: '';
      background: url('images/icons/PLUSSIGN.png') no-repeat;
      background-size: contain;
      display: inline-block;
      height: 24px;
      width: 24px;
      vertical-align: middle;
      margin-right: 0.5em;
    }
    &--open:before {
      content: '';
      background: url('images/icons/MINUSSIGN.png') no-repeat;
      background-size: contain;
      display: inline-block;
      height: 24px;
      width: 24px;
      vertical-align: middle;
      margin-right: 0.5em;
    }
  }

  &__content {
    overflow: hidden;
    padding-bottom: 0.25em;
  }
}

.afc-cta {
  padding: 4em 0;
}

.afc-footer {
  text-transform: uppercase;

  &__items {
     background: $light-accent;

    .afc-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 2em;
      padding-bottom: 2em;

      @include break-point('small') {
        display: block;
      }
    }
  }

  &__item {
    flex-basis: calc(33% - 4em);
    margin: 0 auto;

    @include break-point('small') {
      text-align: center;
      margin-bottom: 2.5em;
    }
    
    &:not(:last-child) {
      border-right: 1px solid $main-text;
      padding-right: 1em;

      @include break-point('small') {
        border-right: none;
        margin-right: 0;
      }
    }

    li, p {
      font-size: 0.875em;
    }

    li {
      margin-bottom: 0.5em;
    }
  }

  &__footer {
    background: $light-accent;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 2em;
    font-size: 0.875em;
  }

  &__social-links {
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }
}

.afc-social-icon {
  height: 1.25rem;
  width: 1.25rem;
}

/****** FORM *******/

.afc-payment-form {
  max-width: 400px;
  margin: 0 auto;

  button {
    margin-top: 2.5em;
    width: 100%;
  }
}

.afc-form-field {
  margin-top: 1em;

  &--long {
    flex-basis: 80%;
  }

  > label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.75em;
    font-weight: 700;
  }

  > input,
  > textarea {
    width: 100%;
    padding: 7px 12px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    font-size: 1em;
  }

  .StripeElement {
    padding: 10px 12px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    font-size: 1em;
  }
}

.afc-inline-form-fields {
  display: flex;

  .afc-form-field:not(:last-child) {
    margin-right: 1em;
  }
}
