/** SITE COLOR THEME **/
/** MIXINS **/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: p22-mackinac-pro, serif;
  margin: 0; }

p {
  color: #231f20;
  font-size: 1.125em; }
  @media (max-width: 40em) {
    p {
      position: relative;
      z-index: 1;
      font-size: 1em; } }

a {
  transition: all 150ms ease-in-out; }
  a, a:visited, a:active, a:focus {
    color: #231f20; }
  a:hover {
    text-decoration: none;
    color: #616161; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  cursor: pointer; }

@keyframes animateIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.afc-animate--in p, .afc-animate--in h1, .afc-animate--in h2, .afc-animate--in h3, .afc-animate--in h4, .afc-animate--in h5, .afc-animate--in a, .afc-animate--in button, .afc-animate--in blockquote, .afc-animate--in dt {
  animation: animateIn 1000ms ease-in; }

.afc-hide-block-text p, .afc-hide-block-text h1, .afc-hide-block-text h2, .afc-hide-block-text h3, .afc-hide-block-text h4, .afc-hide-block-text h5, .afc-hide-block-text blockquote {
  opacity: 0; }

/******** COMPONENTS ********/
.afc-button {
  font-size: 1em;
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #8cbb3f;
  border: 1px solid #8cbb3f;
  padding: 0.75em;
  color: #fff;
  transition: 150ms ease-in-out; }
  @media (max-width: 40em) {
    .afc-button {
      margin: 0 auto; } }
  .afc-button:hover {
    background: #5f823e;
    border-color: #5f823e; }

a.afc-button {
  text-decoration: none;
  color: #fff; }

.afc-image {
  display: block;
  max-height: 100%;
  max-width: 100%; }

.afc-icon {
  height: 6.5em; }

.afc-text-content {
  padding: 0 2em; }

.afc-container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 0.75em; }

.page-container {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.afc-section {
  padding: 2em 0; }
  @media (max-width: 40em) {
    .afc-section {
      margin-bottom: 1.5em; } }
  .afc-section--dark {
    background: #e5e5e5; }
    @media (max-width: 40em) {
      .afc-section--dark {
        margin-bottom: 0;
        padding-bottom: 3.5em; } }

.afc-lime {
  position: relative; }
  .afc-lime--left:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url("images/icons/lime.png") no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    top: -120px;
    left: -80px; }
  .afc-lime--right:after {
    content: '';
    display: inline-block;
    position: absolute;
    transform: rotateY(180deg);
    background: url("images/icons/lime.png") no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    bottom: -80px;
    right: -80px; }

.afc-squiggle {
  position: relative; }
  .afc-squiggle--left:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url("images/icons/light_triple_squiggle.png") no-repeat;
    background-size: contain;
    height: 60px;
    width: 200px;
    left: -36px;
    top: 16px;
    transform: rotate(180deg); }
  .afc-squiggle--right:after {
    content: '';
    display: inline-block;
    position: absolute;
    background: url("images/icons/light_triple_squiggle.png") no-repeat;
    background-size: contain;
    height: 60px;
    width: 200px;
    bottom: 24px;
    right: -36px;
    transform: rotate(180deg); }

/** UTILITY CLASSES */
.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-bold {
  font-weight: 700 !important; }

.mb-S {
  margin-bottom: 1rem !important; }

.mb-M {
  margin-bottom: 2.5rem !important; }

.mb-L {
  margin-bottom: 4rem !important; }

.afc-flex {
  display: flex !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-reverse-wrap {
  flex-wrap: wrap-reverse !important; }

.flex-align-center {
  align-items: center !important; }

.fifty-fifty > :nth-child(1), .fifty-fifty > :nth-child(2) {
  width: 50% !important; }
  @media (max-width: 40em) {
    .fifty-fifty > :nth-child(1), .fifty-fifty > :nth-child(2) {
      text-align: center;
      width: 100% !important; } }

.center-block {
  margin-left: auto !important;
  margin-right: auto !important; }

.paragraph-18 {
  font-size: 1.125em !important; }

.paragraph-20 {
  font-size: 1.25em !important; }

.paragraph-22 {
  font-size: 1.375em !important; }
  @media (max-width: 40em) {
    .paragraph-22 {
      font-size: 1em !important; } }

.paragraph-24 {
  font-size: 1.5em !important; }
  @media (max-width: 40em) {
    .paragraph-24 {
      font-size: 1.25em !important; } }

.paragraph-28 {
  font-size: 1.75em !important; }
  @media (max-width: 40em) {
    .paragraph-28 {
      font-size: 1.375em !important; } }

.paragraph-32 {
  font-size: 2em !important; }

@media (max-width: 40em) {
  .hide--small {
    display: none; } }

@media (min-width: 40em) {
  .hide--desktop {
    display: none; } }

/********* MOBILE-NAV *********/
.afc-mobile-nav {
  display: none;
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 3px 1px #ccc;
  padding-bottom: 3em;
  z-index: 2; }
  .afc-mobile-nav--open {
    height: auto;
    display: block; }
  .afc-mobile-nav__close-btn {
    float: right;
    background: #e8e8e8;
    border: none;
    background: none;
    position: absolute;
    transform: scale(1.25);
    top: 1.125em;
    right: 2.333em; }
  .afc-mobile-nav__menu-item {
    text-transform: uppercase;
    padding: 0.75em 0;
    text-align: center;
    border-top: 1px solid #ccc;
    font-weight: bold;
    transition: 150ms ease-in-out;
    cursor: pointer; }
    .afc-mobile-nav__menu-item a {
      text-decoration: none;
      color: inherit; }
    .afc-mobile-nav__menu-item:hover {
      background: #e8e8e8;
      border-top: 1px solid #e8e8e8; }
      .afc-mobile-nav__menu-item:hover + .afc-mobile-nav__menu-item {
        border-top: 1px solid #e8e8e8; }
    .afc-mobile-nav__menu-item--cta {
      background: #8cbb3f;
      border: 1px solid #8cbb3f;
      color: #fff; }
      .afc-mobile-nav__menu-item--cta:hover {
        background: #5f823e;
        border: 1px solid #5f823e; }
  .afc-mobile-nav__logo {
    height: 48px;
    display: block;
    width: auto;
    margin: 1em auto 1.5em auto; }

/********* PAGE STYLES *********/
.afc-section-heading {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }
  .afc-section-heading--accent:after {
    content: '';
    margin-top: 0.25em;
    margin-bottom: 1em;
    display: block;
    background: url("images/icons/long_squiggle.png") no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 20px; }

.afc-heading-L {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 1.5rem; }

.afc-heading-M {
  font-size: 2em;
  font-weight: 700; }

.afc-heading-S {
  font-size: 1.25em;
  text-transform: uppercase; }

.afc-accent-block {
  background: #5f823e;
  padding: 2.5em 0; }
  .afc-accent-block p, .afc-accent-block h1, .afc-accent-block h2, .afc-accent-block h3, .afc-accent-block h4, .afc-accent-block h5 {
    color: #fff; }
  .afc-accent-block .afc-section-heading {
    color: #fff;
    margin-top: 1rem; }

.afc-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  align-items: center; }
  .afc-header__logo {
    height: 6.5em; }

@media (max-width: 40em) {
  .afc-nav ul {
    display: none; } }

.afc-nav__mobilenav-trigger {
  background: none;
  border: none;
  display: none;
  transform: scale(1.25);
  color: gray; }
  .afc-nav__mobilenav-trigger svg {
    pointer-events: none; }
  @media (max-width: 40em) {
    .afc-nav__mobilenav-trigger {
      display: inline-block; } }

.afc-nav__menu-item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 0.75em;
  padding: 0.5em;
  font-size: 1.125em;
  font-weight: 700;
  cursor: pointer; }
  .afc-nav__menu-item a {
    text-decoration: none;
    color: inherit; }
  .afc-nav__menu-item:hover {
    border-bottom: 2px solid #8cbb3f; }

.afc-nav__cta-btn {
  display: inline-block; }

.afc-hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center; }
  .afc-hero > div {
    width: 85%;
    max-width: 640px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.675);
    border-radius: 4.5em;
    padding: 2.5em 1.5em;
    text-align: center; }
  .afc-hero__tagline {
    font-size: 3.75em;
    margin: 0 0 1rem 0; }
    @media (max-width: 40em) {
      .afc-hero__tagline {
        font-size: 2.5em; } }
  .afc-hero + section {
    display: flex;
    align-items: center; }
    .afc-hero + section .afc-container {
      min-height: 10em; }
  .afc-hero--how-it-works {
    background-image: url("images/photos/HIW_BANNER.jpg"); }
  .afc-hero--home {
    background-image: url("images/photos/HOMEBANNER.jpg"); }
  .afc-hero--cyp {
    background-image: url("images/photos/BEETS.jpg"); }
  .afc-hero--about {
    background-image: url("images/photos/HIGHRES_ABOUT_BANNER.jpg"); }
    .afc-hero--about > div {
      margin-left: 1.5em; }
      @media (max-width: 40em) {
        .afc-hero--about > div {
          align-self: flex-end;
          margin-bottom: 2.5em; } }

.afc-highlights__list {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em 0 0.5em 0; }
  .afc-highlights__list > li {
    padding: 1.5em;
    width: 33%; }
    @media (max-width: 40em) {
      .afc-highlights__list > li {
        width: 100%; } }

.afc-content-block {
  padding: 1.5em 0; }

.afc-image-container__full {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%; }
  .afc-image-container__full--home-banana {
    background-image: url("images/photos/bananapink.jpg"); }
  .afc-image-container__full--hiw-ned {
    background-image: url("images/photos/pattypan1.jpg"); }
  .afc-image-container__full--hiw-berries {
    background-image: url("images/photos/berrycherry.jpg"); }
  .afc-image-container__full--hiw-veggies {
    background-image: url("images/photos/NEW_CILANTROAVOCADO.JPG"); }
  .afc-image-container__full--about-corn {
    background-image: url("images/photos/CORNPINK.jpg"); }

.afc-image-container__family {
  width: 300px; }

.afc-image-container__bio {
  width: 300px; }

.afc-image-container__package {
  height: 300px; }

.afc-testimonials {
  padding: 2em 0; }
  @media (max-width: 40em) {
    .afc-testimonials {
      padding-bottom: 1.5em; } }
  .afc-testimonials blockquote {
    text-align: center;
    padding-top: 48px;
    color: #606261;
    font-size: 1.25em; }
    .afc-testimonials blockquote:before {
      content: '';
      position: absolute;
      top: 0;
      left: 72px;
      display: inline-block;
      background: url("images/icons/quotation_mark.png") no-repeat;
      background-size: contain;
      height: 40px;
      width: 40px; }

.afc-packages__grid {
  display: flex;
  flex-wrap: wrap; }

.afc-package {
  width: 50%;
  margin-top: 2em;
  padding: 0 1.5em;
  margin-bottom: 4.5em;
  display: flex;
  flex-direction: column; }
  @media (max-width: 40em) {
    .afc-package {
      width: 100%;
      margin-bottom: 5.5em; } }
  .afc-package p, .afc-package li {
    color: #606261; }
  .afc-package__desc {
    margin-top: 0em;
    margin-bottom: 1.5em; }
  .afc-package__img {
    position: relative;
    height: 250px;
    width: 250px;
    margin: 0 auto; }
    .afc-package__img > img {
      height: 100%;
      width: 100%; }
  .afc-package__price {
    background: #8cbb3f;
    position: absolute;
    top: -24px;
    right: -24px;
    min-width: 3em;
    min-height: 3em;
    line-height: 3em;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff; }
  .afc-package__example-list {
    column-count: 2; }
  .afc-package .afc-button {
    margin: 0 auto;
    margin-top: auto; }

.afc-faq dt {
  font-weight: 700;
  margin-bottom: 0.5em; }

.afc-faq dd {
  margin-left: 2.125em;
  padding-bottom: 1.25em; }

.afc-ned-test {
  position: relative; }

.afc-accordion__header {
  cursor: pointer;
  margin: 0; }
  .afc-accordion__header--close:before {
    content: '';
    background: url("images/icons/PLUSSIGN.png") no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 0.5em; }
  .afc-accordion__header--open:before {
    content: '';
    background: url("images/icons/MINUSSIGN.png") no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 0.5em; }

.afc-accordion__content {
  overflow: hidden;
  padding-bottom: 0.25em; }
  @media (max-width: 40em) {
    .afc-accordion__content[aria-hidden="false"] {
      max-height: 13rem !important; } }

.afc-cta {
  padding: 4em 0; }

.afc-footer {
  text-transform: uppercase; }
  .afc-footer__items {
    background: #e8e8e8; }
    .afc-footer__items .afc-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 2em;
      padding-bottom: 2em; }
      @media (max-width: 40em) {
        .afc-footer__items .afc-container {
          display: block; } }
  .afc-footer__item {
    flex-basis: calc(33% - 4em);
    margin: 0 auto; }
    @media (max-width: 40em) {
      .afc-footer__item {
        text-align: center;
        margin-bottom: 2.5em; } }
    .afc-footer__item:not(:last-child) {
      border-right: 1px solid #231f20;
      padding-right: 1em; }
      @media (max-width: 40em) {
        .afc-footer__item:not(:last-child) {
          border-right: none;
          margin-right: 0; } }
    .afc-footer__item li, .afc-footer__item p {
      font-size: 0.875em; }
    .afc-footer__item li {
      margin-bottom: 0.5em; }
  .afc-footer__footer {
    background: #e8e8e8;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 2em;
    font-size: 0.875em; }
  .afc-footer__social-links {
    display: flex; }
    .afc-footer__social-links li:not(:last-child) {
      margin-right: 0.5em; }

.afc-social-icon {
  height: 1.25rem;
  width: 1.25rem; }

/****** FORM *******/
.afc-payment-form {
  max-width: 400px;
  margin: 0 auto; }
  .afc-payment-form button {
    margin-top: 2.5em;
    width: 100%; }

.afc-form-field {
  margin-top: 1em; }
  .afc-form-field--long {
    flex-basis: 80%; }
  .afc-form-field > label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.75em;
    font-weight: 700; }
  .afc-form-field > input,
  .afc-form-field > textarea {
    width: 100%;
    padding: 7px 12px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    font-size: 1em; }
  .afc-form-field .StripeElement {
    padding: 10px 12px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    font-size: 1em; }

.afc-inline-form-fields {
  display: flex; }
  .afc-inline-form-fields .afc-form-field:not(:last-child) {
    margin-right: 1em; }

.hidden {
  display: none; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }
  @media (max-width: 40em) {
    .modal {
      z-index: 1; } }

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EAEAEA;
  padding: 1rem 1.5rem;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 40em) {
    .modal-content {
      width: 90%; } }
  .modal-content p.subheading {
    line-height: 1.4rem; }
  .modal-content form input {
    border: 1px solid #606261;
    font-family: p22-mackinac-pro, serif;
    text-align: center;
    padding: 0.5rem;
    width: 80%; }
  .modal-content form input[type="email"] {
    margin-top: 1rem; }
  .modal-content form button {
    margin-top: 1rem;
    width: 90%; }
  .modal-content form p.afc-testimonials--text {
    color: #606261; }
  .modal-content p {
    font-size: 1rem; }

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 2rem;
  align-self: flex-end; }

.close-button:hover {
  background-color: darkgray; }

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }
